/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  background-color: var(--color-secondary);
  padding: 50px 0;
  color: rgba(#fff, 8);


  .footer-info {
    .logo {
      line-height: 0;
      margin-bottom: 25px;
      img {
        max-height: 40px;
        margin-right: 6px;
      }
  
      span {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #fff;
        font-family: var(--font-primary);
      }
  
    }

    p {
      font-size: 14px;
      font-family: var(--font-primary);
    }
  }

  .social-links {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid rgba(#fff, .2);
      font-size: 16px;
      color: rgba(#fff, .7);
      margin-right: 10px;
      transition: 0.3s;
      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }

  .footer-links {
    margin-bottom: 30px;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;

      i {
        padding-right: 2px;
        color: rgba($primary, .8);
        font-size: 12px;
        line-height: 0;
      }

      li {
        padding: 10px 0;
        &:first-child {
          padding-top: 0;
        }
        display: flex;
        align-items: center;
      }

      a {
        color: rgba(#fff, .6);
        transition: 0.3s;
        display: inline-block;
        line-height: 1;
        &:hover {
          color: #fff;
        }
      }
    }
  }

  .footer-contact {
    p {
      line-height: 26px;
    }
  }


  .copyright {
    text-align: center;
  }

  .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
    a {
      color: #fff;
    }
  }

}
