/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 30px 0;

  &.sticked {
    background: rgba($secondary, .9);
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba($secondary, 0.10);
  }

  .logo {
    img {
      max-height: 40px;
      margin-right: 6px;
    }
    
    h1 {
      font-size: 30px;
      margin: 0;
      font-weight: 700;
      color: #fff;
      font-family: var(--font-primary);
    }

  }
}
